* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}
h1{
    padding-bottom: 50px;
}

button {
    padding: 12px 25px;
    border: none;
    font-size: 18px;
    background: #00030a;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
 background: #333;
}